.feature-card21-feature-card {
  width: 494px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card21-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card21-container {
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card21-container:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.feature-card21-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card21-root-class-name {
  top: -23px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background-color: var(--dl-color-custom-primary1);
}
@media(max-width: 767px) {
  .feature-card21-feature-card {
    flex-direction: row;
  }
  .feature-card21-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card21-container {
    flex-direction: column;
  }
}

.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-navbar-interactive {
  background-color: #fd9a8e;
}
.home-logo {
  color: var(--dl-color-gray-white);
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container02 {
  top: 31px;
  flex: 0 0 auto;
  right: 9px;
  width: 87px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: space-between;
  flex-direction: column;
}
.home-links1 {
  top: 3px;
  flex: 1;
  left: -290px;
  width: 246px;
  height: 26px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-nav221 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  transition: 0.3s;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.home-nav222 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  transition: 0.3s;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.home-nav321 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  transition: 0.3s;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.home-nav421 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  transition: 0.3s;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.home-icon-group1 {
  width: 86px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon10 {
  width: 36px;
  height: 34px;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon12 {
  width: 50%;
  height: 34px;
  transition: 0.3s;
  text-decoration: none;
}

.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero1 {
  height: 435px;
  display: flex;
  padding-bottom: 52px;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/tempmenubg-1500w.png");
}
.home-container03 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  color: rgb(255, 255, 255);
  font-size: 48px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 150%;
}
.home-hero-heading1 {
  color: var(--dl-color-custom-secondary1);
  font-size: 70px;
  max-width: 800px;
  text-align: center;
  font-family: "Kodex-Regular";
  font-weight: 700;
  line-height: 150%;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.home-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-hero-button1 {
  width: 188px;
  height: 76px;
  font-size: 25px;
  animation-name: tada;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features-container {
  align-items: center;
  justify-content: center;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 153px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 44px;
  border-color: var(--dl-color-custom-accent1);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 27px;
  justify-content: flex-start;
}
.home-container05 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading2 {
  top: 18px;
  left: 0px;
  right: 0px;
  width: 456px;
  margin: auto;
  position: absolute;
  max-width: 800px;
}
.home-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-link2 {
  top: 2822px;
  left: 415px;
  color: var(--dl-color-custom-secondary1);
  margin: auto;
  position: absolute;
  font-size: 40px;
  text-align: center;
  transition: 0.3s;
  font-family: "Amaranth";
  text-transform: uppercase;
  text-decoration: none;
}
.home-link2:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-link3 {
  top: 2822px;
  left: 415px;
  color: var(--dl-color-custom-secondary1);
  margin: auto;
  position: absolute;
  font-size: 40px;
  text-align: center;
  transition: 0.3s;
  font-family: "Amaranth";
  text-transform: uppercase;
  text-decoration: none;
}
.home-link3:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-gallery {
  width: 100%;
  height: 1153px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 4px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-accent1);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.home-container06 {
  flex: 0 0 auto;
  width: 1251px;
  height: 1139px;
  display: flex;
  position: relative;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: 13px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-accent1);
}
.home-image {
  top: 494px;
  left: 24px;
  width: 483px;
  height: 409px;
  position: absolute;
  object-fit: cover;
}
.home-image1 {
  top: 5px;
  left: 23px;
  width: 480px;
  height: 410px;
  position: absolute;
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-hero-heading3 {
  top: 793px;
  left: 746px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 150%;
}
.home-hero-heading4 {
  top: 263px;
  left: 793px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 20px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 150%;
}
.home-hero-heading5 {
  top: 496px;
  left: 690px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 48px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 150%;
}
.home-hero-heading6 {
  top: 10px;
  left: 809px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 48px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 150%;
}
.home-text38 {
  top: 568px;
  left: 684px;
  color: var(--dl-color-custom-secondary1);
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: "Amaranth";
  line-height: 2;
  text-transform: capitalize;
}
.home-text48 {
  top: 110px;
  color: var(--dl-color-custom-secondary1);
  right: 54px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-family: "Amaranth";
  line-height: 2;
  text-transform: capitalize;
}
.home-hero-button11 {
  top: 841px;
  left: 774px;
  width: 188px;
  height: 76px;
  position: absolute;
  font-size: 25px;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 4px;
  text-decoration: none;
}
.home-hero-button11:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-text54 {
  top: 5px;
  left: 0px;
  width: 100%;
  margin: auto;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
}
.home-hero-button12 {
  top: 323px;
  left: 789px;
  width: 188px;
  height: 76px;
  position: absolute;
  font-size: 25px;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 4px;
  text-decoration: none;
}
.home-hero-button12:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-text59 {
  top: 5px;
  left: 0px;
  width: 100%;
  margin: auto;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
}
.home-features2 {
  width: 100%;
  height: 265px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-width: 100%;
  flex-direction: column;
  background-color: #fd9a8e;
}
.home-text64 {
  width: 660px;
  font-size: 3rem;
  align-self: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container07 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.home-component {
  text-decoration: none;
}
.home-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-container08 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text65 {
  width: var(--dl-size-size-xlarge);
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.home-text66 {
  font-size: 30px;
}
.home-container09 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #fd9a8e;
}
.home-text69 {
  font-weight: 700;
}
.home-icon-group2 {
  width: 86px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link4 {
  display: contents;
}
.home-icon14 {
  width: 36px;
  height: 34px;
  text-decoration: none;
}
.home-link5 {
  display: contents;
}
.home-icon16 {
  width: 50%;
  height: 34px;
  transition: 0.3s;
  text-decoration: none;
}

@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
  .home-hero-heading1 {
    text-align: center;
  }
  .home-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-hero-heading2 {
    text-align: center;
  }
  .home-text14 {
    text-align: center;
  }
  .home-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-gallery {
    grid-gap: var(--dl-space-space-unit);
  }
  .home-hero-heading3 {
    text-align: center;
  }
  .home-text30 {
    text-align: center;
  }
  .home-hero-heading4 {
    text-align: center;
  }
  .home-text32 {
    text-align: center;
  }
  .home-hero-heading5 {
    text-align: center;
  }
  .home-text34 {
    text-align: center;
  }
  .home-hero-heading6 {
    text-align: center;
  }
  .home-text36 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-gallery {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container07 {
    grid-template-columns: 1fr;
  }
  .home-faq1 {
    flex-direction: column;
  }
  .home-container08 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text68 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu1 {
    padding: 16px;
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .home-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text68 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
