.feature-card21-feature-card {
  width: 494px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card21-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card21-container {
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card21-container:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.feature-card21-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card21-root-class-name {
  top: -23px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  background-color: var(--dl-color-custom-primary1);
}
@media(max-width: 767px) {
  .feature-card21-feature-card {
    flex-direction: row;
  }
  .feature-card21-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card21-container {
    flex-direction: column;
  }
}
